/** 
* Dashboard styles
*/
#dashboard {
  z-index: 3;
  overflow-y: auto;
  @extend %regular-ease;
  @include bgProps(rgba($hotpink, 0.9), rgba($hotpink, 0.8), ("../images/ggc.jpg"), center, cover, no-repeat, null);
  @include posLayout(fixed, $top: 0, $left: 0);
  @include displayProps(block, $width: 250px, $height: 100%);
  @include deviceBreak('max-width: 767.5px') {
    top: 60px;
    z-index: 1;
  }
  
  .dashboard-wrapper {
    
    .dashboard-brand-wrapper {
      text-align: center;
      border-bottom: 1px dashed rgba($white, 0.4);
      margin: 0 0 2em 0;
      padding: 5px 0;
      
      .dashboard-brand {
        @include textStyle(darken($white, 5%), $source, 2.5rem, normal, null, null, null, 1px 1px 1px rgba($black, 0.1), null);
        
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
    
    .dashboard-user-wrapper {
      position: relative;
      padding: 0 0 15px 65px;
      opacity: 0;
      animation: fadeOut 500ms ease forwards;
      
      .dashboard-image {
        @include displayProps(null, $width: 35px, $height: 35px);
        @include posLayout(absolute, $top: -7.5px, $left: 15px);
      }
      
      .dashboard-username {
        display: inline;
        @include textStyle(rgba($white, 0.95), $lato, 1.25rem, 900, null, null, null, null, null);
      }
      
      .dashboard-online {
        background: $green;
        border-radius: 50%;
        @include displayProps(inline-block, $width: 10px, $height: 10px, $margin: 0 0 0 10px);
      }
    }
    
    .dashboard-list-wrapper {
      padding: 0 0 0 20px;
      
      .dashboard-ul {
        @extend %ul-even;
        
        .dashboard-li {
          margin: 0;
          opacity: 0;
          animation: slide 250ms ease forwards;
      
          @for $i from 1 through 7 {
            &:nth-child(#{$i}) {
              transition: margin 250ms * $i ease;
              animation-duration: 250ms * $i;
            }
          }
          
          .dashboard-a {
            display: block;
            padding: 15px 0;
            @include textStyle(rgba($white, 0.95), $lato, 1rem, 900, null, null, null, null, null);
            
            &:hover,
            &:focus {
              text-decoration: none;
              
              .dashboard-span {
                color: lighten($gold, 5%);
                
                &:before {
                  transform: scaleX(1.0);
                }
              }
              
              .fa {
                color: lighten($gold, 5%);
              }
            }
            
            &:active {
              
              .dashboard-span {
                
                &:before {
                  transform: scaleX(0.8);
                }
              }
            }
            
            .dashboard-span {
              position: relative;
              @extend %regular-ease;
              
              &:before {
                content: "";
                background: lighten($gold, 5%);
                width: 100%;
                height: 3px;
                transform: scale(0);
                @extend %regular-ease;
                @include posLayout(absolute, $bottom: -10px);
              }
            }
          }
          
          .active {
            
            .dashboard-span {
              color: lighten($gold, 5%);;
              
              &:before {
                transform: scaleX(1.0);
              }
            }
            
            .fa {
              color: lighten($gold, 5%);;
            }
          }
        }
        
        .dashboard-li.accelerate {
          margin: 0 0 0 -230px;
        }
      }
    }
    
    .fa {
      @extend %regular-ease;
      @include textStyle(rgba($white, 0.75), null, 1.75rem, normal, null, null, null, null, null);
      @include displayProps(null, $width: 25px, $height: 25px, $margin: 0 20px 0 0);
    }
  }
}

/**
 * Home styles
 */
#home {
  padding: 0 0 0 250px;
  @extend %regular-ease;
  @include deviceBreak('max-width: 767.5px') {
    padding: 0;
  }
}

/**
* Toggled styles
*/
#home.toggled {
  padding: 0;
  
  #dashboard {
    left: -250px;
  }
  
  #feed {
    opacity: 1;
  }
}
