/** 
 * Home styles
 */
#home {
  padding: 0 0 0 250px;
  @extend %regular-ease;
  
  /**
   * Dashboard styles
   */
  #dashboard {
    background: $white;
    box-shadow: inset 1px -2px 10px 2px rgba($black, 0.2),
                inset 2px -2px 20px 2px rgba($black, 0.1);
    width: 250px;
    height: 100%;
    margin: 0 0 0 -250px;
    overflow-y: auto;
    @extend %regular-ease;
    @include posLayout(fixed, $left: 250px);
    
    .dashboard-wrapper {
      margin: 2em 0;
      
      .dashboard-list {
        text-align: center;
        width: 250px;
        margin: 1em 0;
        @include posLayout(absolute, $top: 0);
        
        .dashboard-title-wrapper {
          opacity: 0;
          animation: fadeOut 500ms ease forwards;
           @extend %light-ease;
          @include flexContLayout(flex, $direction: column);
          
          .dashboard-title {
            @include textStyle(lighten($black, 50%), $source, 2rem, null, null, null, null, 1 1px 1px rgba($black, 0.1), null);
          }
        }
        
        .dashboard-list-wrapper {
          animation: slide 250ms ease forwards;
          @extend .dashboard-title-wrapper;
          
          @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
              animation-duration: 250ms * $i;
            }
          }
          
          .dashboard-a {
            flex: 1;
            padding: 15px 0;
            @extend %light-ease;
            @include textStyle(lighten($black, 50%), $lato, 1.25rem, null, null, null, null, 1 1px 1px rgba($black, 0.1), null);
            
            &:hover,
            &:focus {
              text-decoration: none;
            }
            
            .fa {
              color: $hotpink;
              margin: 0 0.5em;
              @extend %light-ease;
            }
          }
          
          &:hover,
          &:focus {
            background: $hotpink;
            
            .dashboard-a,
            .fa {
              color: darken($white, 5%);
            }
          }
        }
      }
    }
  }
  
  /**
   * Feed styles
   */
  #feed {
    width: 100%;
    position: relative;
    padding: 20px;
    
    .dashboard-burger-wrapper {
      
      .dashboard-burger {
        display: inline-block;
        cursor: pointer;
        @extend %regular-ease;
        
        .dash-bar {
          background: $hotpink;
          display: block;
          margin: 7px 0;
          width: 30px;
          height: 3px;
          transform-origin: 3% 50%;
          @extend %regular-ease;
          
          &:nth-child(1) {
            transform: rotate(45deg);
          }
          
          &:nth-child(2) {
            width: 0;
            opacity: 0;
          }
          
          &:nth-child(3) {
            transform: rotate(-45deg);
          }
        }
      }
      
      .dashboard-burger.shift {
        
        .dash-bar {
          transform-origin: 0%;
          
          &:nth-child(1) {
            transform: rotate(0);
          }
          
          &:nth-child(2) {
            width: 30px;
            opacity: 1;
          }
          
          &:nth-child(3) {
            transform: rotate(0);
          }
        }
      }
    }
  }
}

/**
 * Toggled styles
 */
#home.toggled {
  padding: 0;
  
  #dashboard {
    width: 0;
  }
  
  #feed {
    position: absolute;
    margin: 0 -250px 0 0;
  }
}
