/**
 * Feed styles
 */
#feed {
  // Defined in reminders
  
  .feed-wrapper {
    // Defined in reminders
    
    /**
     * Flashcards styles
     */
    .flashcards {
      @include flexContLayout(flex, $direction: row, $wrap: wrap, $justify-content: center);
      
      .flashcards-empty {
        text-align: center;
        
        .flashcards-empty-h2,
        .flashcards-empty-p {
          opacity: 0;
          animation: fadeOut 1000ms ease forwards;
          @include textStyle(lighten($black, 25%), $lato, null, normal, null, null, null, null, -0.5px);
        }
        
        .flashcards-empty-h2 {
          animation-delay: 0ms;
        }
        
        .flashcards-empty-p {
          animation-delay: 200ms;
        }
        
        .flashcards-add {
          margin: 40px 0;
          opacity: 0;
          animation: zoom 1000ms ease 400ms forwards;
          
          .btn-plus {
            display: inline-block;
            @include btnStyle($hotpink, 0, 0, none, 10px 20px 11px);
            @include textStyle(darken($white, 5%), $lato, 16px, 900, null, null, null, null, null);
          }
          
          .fa {
            margin: 0 5px 0 0;
          }
          
          .flashcards-plus {
            margin: 0 0 0 5px;
          }
        }
        
        .flashcards-img-wrapper {
          margin: 60px 0;
          opacity: 0;
          animation: zoom 1000ms ease 600ms forwards;
        }
      }
    }
  }
}
