/**
 * Footer styles
 */
#footer {
  background: darken($white, 5%);
  
  .footer-wrapper {
    text-align: center;
    padding: 4em;
    
    .footer-top {
      
      .footer-ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        .footer-li {
          display: inline-block;
          @include textStyle(lighten($black, 50%), $lato, 1.25rem, null, null, null, null, null, null);
          
          .footer-a {
            @extend .footer-li;
            @extend %light-ease;
            
            &:hover,
            &:focus {
              color: lighten($black, 25%);
              text-decoration: none;
            }
          }
        }
      }
    }
    
    .footer-bottom {
      
      .footer-small {
        display: inline-block;
        transform: skewX(-5deg) translateY(1px);
        @include textStyle(lighten($black, 50%), $lato, 1rem, null, null, null, null, null, 1px);
      }
    }
  }
}
