/**
 * Navigation bar styles
 */
.navbar {
  background: $gold;
  border: 0;
  margin: 0;
  padding: 15px 0;
  @include deviceBreak('max-width: 767.5px') {
    position: fixed;
    width: 100%;
  }
  
  .navbar-brand {
    @include textStyle(darken($white, 5%), $source, 2.5rem, null, null, null, null, 1px 1px 1px rgba($black, 0.1), null);
    
    &:hover,
    &:focus {
      color: darken($white, 5%);
    }
  }
}

.navbar-default {
  
  .navbar-toggle {
    border: 0;
    box-shadow: none;
    
    &:hover,
    &:focus {
      background: rgba($black, 0);
    }
    
    .icon-bar {
      width: 22px;
      background: darken($white, 5%);
      @extend %regular-ease;
    }
    
    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    
    .mid-bar {
      width: 0;
      opacity: 0;
    }
    
    .bot-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
  }
  
  .navbar-toggle.collapsed {
    
    .top-bar,
    .bot-bar {
      transform: rotate(0);
    }
    
    .mid-bar {
      width: 22px;
      opacity: 1;
    }
  }
  
  .navbar-collapse {
    border: 0;
    box-shadow: none;
  }
  
  .navbar-nav {
    
    li {
      
      a {
        @include textStyle(darken($white, 5%), $lato, 1.15rem, 900, null, null, null, 1px 1px 1px solid rgba($black, 0.1), null);
        @include deviceBreak("max-width: 767.5px") {
          font-size: 1.5rem;
          text-align: center;
        }
        
        &:hover,
        &:focus {
          color: darken($white, 5%);
        }
      }
      
      .nav-signup {
        text-align: center;
        background: $hotpink;
        width: 100px;
        @include deviceBreak("max-width: 767.5px") {
          background: $hotpink;
          width: 120px;
          margin: 0 auto;
        }
        
        &:hover,
        &:focus {
          background: $hotpink;
        }
      }
    }
    
    .dropdown {
      
      .dropdown-menu {
        border: 0;
        box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.2),
            	      0 2px 12px 1px rgba(0, 0, 0, 0.1);
        padding: 0;
        @include deviceBreak("max-width: 767.5px") {
          box-shadow: none;
          position: relative;
          padding: 10px 0 0 0;
        }
        
        li {
          
          a {
            color: lighten($black, 50%);
            background: darken($white, 5%);
            padding: 10px;
            @include deviceBreak("max-width: 767.5px") {
              color: darken($white, 5%);
              font-size: 1rem;
              background: darken($gold, 2.5%);
            }
            
            &:hover,
            &:focus {
              color: darken($white, 5%);
              background: $hotpink;
              @include deviceBreak("max-width: 767.5px") {
                color: darken($white, 5%);
                font-size: 1rem;
                background: darken($gold, 2.5%);
              }
            }
          }
        }
        
        &:after {
          content: '';
          border-right: 6px solid transparent;
          border-bottom: 6px solid white;
          border-left: 6px solid transparent;
          display: inline-block;
          @include posLayout(absolute, $top: -6px, $right: 13px);
          @include deviceBreak("max-width: 767.5px") {
            display: none;
          }
        }
      }
    }
    
    .open {
      
      a {
        color: darken($white, 5%);
        background: rgba($black, 0);
        @extend %light-ease;
        
        &:hover,
        &:focus {
          color: darken($white, 5%);
          background: rgba($black, 0);
        }
      }
    }
  }
}
