@import "variables";

/**
 * Fade content
 */
@keyframes fadeOut {
  from {
    transform: translateY(-50px);
  }
  
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/**
 * Slide content
 */
@keyframes slide {
  from {
    transform: translateX(-50px);
  }
  
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/**
 * Zoom content
 */
@keyframes zoom {
	from {
    	transform: scale(0);
    }
    
  to {
    opacity: 1;
  	transform: scale(1.0);
  }
}

/**
 * Jiggle content
 */
@keyframes jiggle {
  25% {
   transform: rotate(-45deg);
 }
 
 50%,
 100% {
   transform: rotate(0);
 }
 
 75% {
   transform: rotate(45deg);
 }
}
