@import "variables";

/**
 * Fade content
 */
@keyframes fadeOut {
  from {
    transform: translateY(-50px);
  }
  
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/**
 * Slide content
 */
@keyframes slide {
  from {
    transform: translateX(-50px);
  }
  
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/**
 * Zoom content
 */
@keyframes zoom {
	from {
    	transform: scale(0);
    }
    
  to {
    opacity: 1;
  	transform: scale(1.0);
  }
}
