
/**
 * Import all SCSS partial files from other directories
 */
@import "tools/fonts";
@import "tools/components";
@import "tools/animations";
@import "tools/variables";
@import "tools/mixins";
@import "tools/placeholders";
@import "pages/nav";
@import "pages/welcome";
@import "pages/auth";
@import "pages/settings";
@import "pages/about";
@import "pages/help";
@import "pages/header";
@import "pages/dashboard";
@import "pages/reminders";
@import "pages/note";
@import "pages/sets";
@import "pages/set";
@import "pages/flashcards";
@import "pages/flashcard";
@import "pages/footer";

/**
 * Set global and pseudo-elements
 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

:root {
  font-size: 14px;
}

::selection {
  color: $white;
  background: $gold;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
